# Notes

* code to check/summarize a tiledb database

In [18]:
import os
import tiledbsoma
import tiledbsoma.io

In [19]:
db_uri = "/home/nickyoungblut/dev/nextflow/scRecounter/tmp/tiledb/tiledb_exp1"

# Summary

## Obs

In [23]:
# get colnames
with tiledbsoma.open(db_uri) as exp:
    print(exp.obs.schema)

soma_joinid: int64 not null
obs_id: large_string
SRX_accession: large_string
lib_prep: large_string
tech_10x: large_string
organism: large_string
tissue: large_string
disease: large_string
purturbation: large_string
cell_line: large_string
czi_collection_id: large_string
czi_collection_name: large_string

In [24]:
# read in the data
with tiledbsoma.Experiment.open(db_uri) as exp:
    df = (
        exp.obs.read(column_names=["obs_id", "SRX_accession", "tech_10x"])
        .concat()
        .to_pandas()
    )
df

                 obs_id SRX_accession     tech_10x
0      AAACCCAGTGGAAATT   SRX24099779  3_prime_gex
1      AAACGAAAGTTGCGAG   SRX24099779  3_prime_gex
2      AAACGCTAGAGAAGGT   SRX24099779  3_prime_gex
3      AAACGCTAGCTGTGCC   SRX24099779  3_prime_gex
4      AAACGCTAGTCGTTAC   SRX24099779  3_prime_gex
...                 ...           ...          ...
41774  TTTGTCAGTCGTCTTC   SRX21101392          vdj
41775  TTTGTCAGTGGCAAAC   SRX21101392          vdj
41776  TTTGTCATCACCGTAA   SRX21101392          vdj
41777  TTTGTCATCGCACTCT   SRX21101392          vdj
41778  TTTGTCATCTAAGCCA   SRX21101392          vdj

[41779 rows x 3 columns]

In [25]:
df["SRX_accession"].value_counts()

SRX_accession
SRX20461161    20047
SRX26573988    10888
SRX21101392     6097
SRX24099779     3794
SRX20585665      953
Name: count, dtype: int64

## Var

In [17]:
# read in the var (gene) level data
with tiledbsoma.Experiment.open(db_uri) as exp:
    df = (
        exp.ms["RNA"]
        .var.read(column_names=["soma_joinid", "var_id", "gene_symbols"])
        .concat()
        .to_pandas()
    )
df

       soma_joinid              var_id gene_symbols
0                0  ENSMUSG00000051951         Xkr4
1                1  ENSMUSG00000089699       Gm1992
2                2  ENSMUSG00000102331      Gm19938
3                3  ENSMUSG00000102343      Gm37381
4                4  ENSMUSG00000025900          Rp1
...            ...                 ...          ...
68881        68881     ENSG00000277836   AC141272.1
68882        68882     ENSG00000278633   AC023491.2
68883        68883     ENSG00000276017   AC007325.1
68884        68884     ENSG00000278817   AC007325.4
68885        68885     ENSG00000277196   AC007325.2

[68886 rows x 3 columns]